#bag-container {
  transition: transform 0.3s linear;
  margin-top: 40px;
  min-height: calc(100vh - 40px);
}

.Bag-navi-container {
  display: flex;
  justify-content: flex-end;
  width: 781px;
}

.Log-in-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
  color: grey;
}
