.Input-big-container {
  margin: 20px 0 0 30px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.Input-inner-container {
  width: 100%;
  position: relative;
}

.Test-input-style {
  left: 0px;
  height: 20px;
  outline: none;
  width: 100%;
}

.Test-input-style:focus::placeholder {
  color: black;
}

.Standard-input-label {
  margin: 0px;
  position: absolute;
  top: 0px;
}

.Password-input, .Email-input {
  border: none;
  border-bottom: 1px solid gray;
}


.Input-warning-text {
  margin: 0px;
}

.Not-valid-input-icon, .Valid-input-icon {
  position: absolute;
  left: -20px;
  top: 5px;
  right: 30px;
}
.Password-toggle-button {
  position: absolute;
  right: 0px;
  bottom: 2px;
  border: none;
  outline: none;
  background-color: var(--transparent);
}

.Password-toggle-icon {
}
