{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "class-methods-use-this": ["off"],
    "react/forbid-prop-types": ["off"]
  },
  "env": {
        "browser": true,
        "node": true,
    },
}
