:root {
  --transparent: #ffffff00;
  --transparent_black: rgba(0, 0, 0, 0.1);
  --bagitem_dropdown_border: #D8D8D8;
  --bagitem_picture_background: #F2F2F2;
  --bagitem_bottom_border: rgba(229, 229, 229, 0.4);
  --bagitem_box_shadow: rgba(229, 229, 229, 0.2);
  --bill_summary_background: #FCFCFC;
  --bill_summary_border: rgb(238, 238, 238);
  --bill_summary_transparent_border: rgb(228, 228, 228); /* originally it was 238,238,238
    with 0.3 opacity, but having a similar color as the background it's too hard to see */
  --bill_summary_warning_red: #D11A0A;
  --lightgray: #737373;
}
