.Bill-summary-container {
  align-items: center;
  background-color: var(--bill_summary_background);
  border-left: 1px solid var(--bill_summary_border);
  width: 315px;
  padding: 30px;
  padding-top: 40px;
  height: calc(100vh - 70px);
  position: fixed;
  right: 0px;
}

.Bill-summary-content {
  position: relative;
  height: 100%;
}

.Bill-summary-checkout {
  padding-top: 10px;
  transition: top 2s, opacity 1s;
  position: absolute;
  top: 50px;
  opacity: 0;
}

.Bill-summary-checkout-final {
  position: absolute;
  top: 0px;
  padding-top: 10px;
  opacity: 1;
}

.Bill-summary-checkout-starting-position {

}

/* .Bill-summary-bag {
  animation: slideIn 2s;
  animation-fill-mode: forwards;
}


@keyframes slideIn {
  0% {transform: translate(0);}
  100% {transform: translate(0, calc(-100vh));}
} */
