.Promo-code-form-container.Display-none {
  display: none;
}
.Faded {
  opacity: 0.5;
}
.Unfaded {
  opacity: 1;
}
.Bill-summary-bag-container.Fade-away {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  width: 0px;
  padding: 0px;
}

.Slide-away-slightly {
  transform: translate(0, -50px);
}

.Bill-summary-bag-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity 1s, visibility 0s linear 1s, width 0s linear 1s, height 0s linear 1s, padding 0s linear 1s;
}

.Bill-summary-bag-wrapper {
  position: relative;
}

.Bill-summary-bag {
  position: absolute;
  transition: transform 1s;
}
.Shipping-cost-status-container {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.Bullet-point-shipping-cost  {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  margin-right: 20px;
}

.Bill-summary-label-container::after {
  content:"";
  display: block;
  height: 1px;
  width: 100%;
  background: black;
}
.Bill-summary-label {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 15px;
}

.Estimate-tax-container {
  border-bottom: 1px solid var(--bill_summary_transparent_border);
  height: 35px;
  transition: height 0.25s;
  margin-top: 25px;
  overflow: hidden;
}

.Estimate-tax-container.Expanded {
  height: 100px;
}

.Estimate-tax-container.Collapsed {
  height: 35px;
}

.Estimate-tax-button.Transparent-button,
.Promo-code-button.Transparent-button {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  font-size: 12px;
}

.Estimate-tax-expand-icon {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.Estimate-tax-expand-icon.Active {
  transform: rotate(180deg);
}

.Postal-code-form-container,
.Promo-code-form-container {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 3px;
  margin-top: 20px;
  transition: opacity 0.25s;
}

.Postal-code-form-container.Visible {
  opacity: 1;
}

.Postal-code-form-container.Invisible {
  opacity: 0;
}

.Postal-code-input-container {
  width: 200px;
}

.Postal-code-input.Default-input {
  width: 100%;
  height: 30px;
  border-bottom-color: black;
  font-size: 16px;
}

.Postal-code-input::placeholder {
  color: black;
  position: relative;
  top: 2px;
}

.Postal-code-submit-button,
.Promo-code-submit-button {
  color: white;
  padding: 6px 20px;
  font-size: 14px;
  height: 33px;
  margin-left: 20px
}

.Postal-code-warning {
  font-size: 12px;
  color: var(--bill_summary_warning_red);
  letter-spacing: 0.3px;
  line-height: 22px;
}

.Tax-costs-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.Tax-cost-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.Shipping-options-container {
  padding: 20px 0px;
  border-bottom: 1px solid var(--bill_summary_transparent_border);
  font-size: 12px;
}
.Shipping-options-container>p {
  color: gray;
}
.Shipping-form> div{
  margin-top: 10px;
}

.Ship-to-address-free {
  margin-right: 10px;
  font-size: 12px;
  color: var(--bill_summary_warning_red);
  letter-spacing: 0.3px;
  text-align: right;
  line-height: 22px;
}

.Promo-code-active-container {
  padding: 10px 0px;
  border-bottom: 1px solid var(--bill_summary_transparent_border)
}

.Promo-code-container {
  height: 35px;
  transition: height 0.25s;
  margin-top: 25px;
  border-bottom: 1px solid var(--bill_summary_transparent_border);
  overflow: hidden;
}

.Promo-code-form-container.Visible {
  opacity: 1;
}

.Promo-code-form-container.Invisible {
  opacity: 0;
}

.Promo-code-container.Collapsed {
  height: 35px;
}

.Promo-code-container.Expanded {
  height: 100px;
}

.Promo-code-discount-container,
.Current-promo-code-container {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  letter-spacing: 0.3px;
  line-height: 22px;
}

.Promo-code-discount-container {
  color: var(--bill_summary_warning_red);
}
.Cost-and-checkout-container {
  transition: opacity 1s, visibility 0s linear 1s;
}
.Total-cost-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Total-cost-label,
.Total-cost-value {
  display: flex;
  align-items: flex-end;
}

.Total-cost-label {
  font-size: 13px;
}

.Total-cost-value {
  font-size: 20px;
}

.Payment-buttons-container {
  display: flex;
  flex-direction: column;
}

.Bill-summary-button {
  width: 100%;
  height: 60px;
}
