.Bag-page {
  display: flex;
}

.Back-to-addition-link {
  display: flex;
  position: absolute;
  left: 50px;
  top: 30px;
  align-items: center;
  padding: 5px;
  padding-left: 0px;
  font-size: 20px;
  z-index: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.Back-to-addition-link:hover {
  text-decoration: underline;
}

.Back-to-addition-arrow {
  transform: rotate(90deg);
  margin-right: 10px;
}

.Bag-and-checkout-wrapper {
  position: relative;
  overflow: hidden;
  width: calc(100% - 376px); /* 376px=  billsummary width */
}

.Bag-wrapper {
  margin-top: 35px;
  padding-left: 50px;
}

.Bag-wrapper.Bag-view {
  transition: transform 0.3s ease-out 0.2s;
}

.Bag-wrapper.Checkout-view {
    transition: transform 0.3s ease-out 0s;
}

.Checkout-container {
  position: absolute;
  height: calc(100vh - 115px); /* margin + padding= 115px */
  margin-top: 60px;
  padding-top: 55px;
  width: calc(100% - 10% - 50px); /* 100% - padding-right - padding-left */
  padding-right: 10%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-left: 50px;

}

.Checkout-view {
  transition: transform 0.3s ease-out 0.2s;
}

.Bag-view {
  transition: transform 0.3s ease-out 0s;
}

.Back-to-bag {
  position: absolute;
  display: flex;
  align-items: center;
  right: calc(376px + 30px); /* 376= billsummary width */
  top: 35px;
  z-index: 2;
}

.Back-to-bag.Checkout-view {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s linear 0.5s, visibility 0s linear 0.5s;
  height: auto;
  width: auto;
}
.Back-to-bag.Bag-view {
  opacity: 0;
  visibility: hidden;
  transition-property: none;
  height: 0px;
  width: 0px;
  padding: 0px;
}
.Back-to-bag>p {
  font-size: 14px;
  order: 1;
  border-bottom: 1px solid transparent;
}
.Back-to-bag-icon {
  order: 0;
  transform: rotate(90deg);
  margin-right: 6px;
}
.Back-to-bag:hover {
  text-decoration: none;
}

.Back-to-bag:hover>p {
  border-color: black;
}
